.App {
  display: flex;
  /* flex-direction: row; */
  /* font-family: Helvetica; */
  font-style: normal;
  max-width: 1500px;
  margin: 0 auto;
}

.header {
  background-color: #474747;
  width: 5%;
  position: absolute;
  font-size: 1.5em;
  color: white;
  writing-mode: vertical-rl;
  padding: 10px;
  font-weight: 300;
  line-height: 30px;
}
.logo {
  /* position: absolute; */
  background-color: #2e2e2e;
  background-image: url('./pics/mg.svg');
  left: 90%;
  width: 50px;
  height: 50px;
  background-repeat: no-repeat;
  background-position: center;

  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
}
.twitter-logo {
  background-image: url('./pics/twitter.svg');
  left: 95%;
  width: 50px;
  height: 50px;
  background-repeat: no-repeat;
  background-position: center;

  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
}
.content {
  background-color: #2e2e2e;
  color: #e5e5e5;
}

.all-boxes div:nth-child(even) {
  margin-left: 20%;
}
.all-boxes div:nth-child(odd) {
  margin-right: 20%;
}

.content-box {
  width: 50%;
  display: flex;
  flex-direction: row;
  margin: 20px;
}
.number {
  font-size: 8em;
  margin-right: 20px;
}
@media (max-width: 850px) {
  .content-box {
    width: 70%;
  }
  .number {
    font-size: 5.5em;
  }
}
@media (max-width: 500px) {
  .content-box {
    width: 80%;
  }
  .number {
    font-size: 4em;
  }
  .all-boxes div:nth-child(odd) {
    margin: 0;
  }
  .all-boxes div:nth-child(even) {
    margin: 0;
  }
}
.all-boxes {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.bounce {
  -moz-animation: floating-text 1s ease alternate infinite;
  -ms-animation: floating-text 1s ease alternate infinite;
  -o-animation: floating-text 1s ease alternate infinite;
  animation: floating-text 1s ease alternate infinite;
}

@-webkit-keyframes floating-text {
  0% {
    -webkit-transform: translateY(0.1em);
  }
}
@-moz-keyframes floating-text {
  0% {
    -moz-transform: translateY(0.1em);
  }
}
@-ms-keyframes floating-text {
  0% {
    -ms-transform: translateY(0.1em);
  }
}
@-o-keyframes floating-text {
  0% {
    -o-transform: translateY(0.1em);
  }
}
@keyframes floating-text {
  0% {
    transform: translateY(0.1em);
  }
}
